---
layout: master
---
  <div class="content" id="home">
    <h1>TheSmilingPenguin::CodePages</h1>
    <h2>Codes</h2>
    <div id="codes">
      <noscript><p>Here we would normally fetch a repository list from the GitHub JSON API, but you don't have JavaScript enabled.</p></noscript> 
    </div>
    
    <script type="text/javascript" src="/javascript/jquery.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascript/jquery.github.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
    var login = 'mtah'
    var target = '#codes'
    $.githubUser(login, function(data) {
      var repos = data.user.repositories

      repos.sort(function(a, b) {
        return a.name > b.name
      })
      
      $(target).html('')
      $(repos).each(function() {
        var homepage_url = this.homepage ? this.homepage : this.url
        var tarball_url = this.url + '/tarball/master'
        var zipball_url = this.url + '/zipball/master'
        var clone_url = 'git://github.com/' + this.owner + '/' + this.name + '.git'
        content = '<h3><a href="' + homepage_url + '">' + this.name + '<\/a><\/h3>'
        content += '<p>' + this.description + '<\/p>'
        content += '<p><strong>Download: <\/strong> <a href="' + tarball_url + '">.tar.gz<\/a> | <a href="' + zipball_url + '">.zip<\/a><br \/>'
        content += '<strong>Clone URL: <\/strong> <a href="' + clone_url + '">' + clone_url + '<\/a><\/p>'
        $(target).append(content)
      })
    })
    </script>
    
    {% if site.posts.size > 0 %}
    <h2>Updates</h2>
    <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>


